@font-face {
    font-family: 'Encode Sans';
    src: url('../Storage/Font/EncodeSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Encode Sans';
    src: url('../Storage/Font/EncodeSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --primary-color: #292526;    /* Tonos oscuros para una UI limpia de moda */
    --accent-color: #121111;     
    --text-muted: #A3A1A2;       /* Gris para categorías y calificaciones */
    --bg-light: #ffffff;         /* Fondo de las tarjetas o secciones */
    --border-color: #787676;
    --card-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    --font-main: 'Encode Sans', sans-serif; /* Tipografía requerida en tu árbol */
}