<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Variables.css">
    <link rel="stylesheet" href="../CSS/Styles.css">
    <link rel="stylesheet" href="../CSS/Details.css">
    <link rel="stylesheet" href="../CSS/Checkout.css">
    <title>Checkout</title>
</head>
<body>
    <header class="main-check">
        <div><a href="../Index.html" class="bn-back" aria-label="Go back"><img src="../Storage/Img/AppIcon/previous.svg" alt="Back"></a></div>
        <div><h2>Checkout</h2></div>
        <div><button class="bn-menu"><img src="../Storage/Img/AppIcon/menu.svg" alt="Burger Menu"></button></div>
    </header>
    <main class="check-view">
        <div class="check-grid">
            <article class="product-card-check">
                <div class="check-image-container">
                   <img src="../Storage/Img/Products/Dresses/LCF.jpg" alt="Casual Floral" class="product-image">
                </div>
                <div class="card-check-content">
                    <div class="card-header-info">
                        <h3 class="product-title">
                            <a href="../Views/Detail.html" class="details">Vestido Largo Casual Formal</a>
                        </h3>
                        <span class="product-category-tag">Vestidos</span>
                    </div>
                    <div class="card-footer-info">
                        <span class="product-price">Q.275.00</span>
                    
                        <div class="quantity-selector">
                            <button type="button" class="btn-qty btn-minus">
                                <img src="../Storage/Img/AppIcon/minus.svg" alt="Menos">
                            </button>
                            <span class="qty-number">4</span>
                            <button type="button" class="btn-qty btn-plus">
                                <img src="../Storage/Img/AppIcon/plus.svg" alt="Más">
                            </button>
                        </div>
                    </div>
                </div>
            </article>
            <article class="product-card-check">
                <div class="check-image-container">
                   <img src="../Storage/Img/Products/Accessories/Lentes.jpg" alt="Lentes de Sol" class="product-image">
                </div>
                <div class="card-check-content">
                    <div class="card-header-info">
                        <h3 class="product-title">
                            <a href="../Views/Detail.html" class="details">Gafas de Sol Protección UV400</a>
                        </h3>
                        <span class="product-category-tag">Accesorios</span>
                    </div>
                    <div class="card-footer-info">
                        <span class="product-price">Q.145.00</span>
                    
                        <div class="quantity-selector">
                            <button type="button" class="btn-qty btn-minus">
                                <img src="../Storage/Img/AppIcon/minus.svg" alt="Menos">
                            </button>
                            <span class="qty-number">2</span>
                            <button type="button" class="btn-qty btn-plus">
                                <img src="../Storage/Img/AppIcon/plus.svg" alt="Más">
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="Pay-method">
            <h4>Shipping Information</h4>
            <div class="credit-card">
                <img src="../Storage/Img/AppIcon/visa.svg" alt="Visa Card" class="Card-type">
                <span>**** **** **** 3265</span>
                <img src="../Storage/Img/AppIcon/down-arrow.svg" alt="More" class="Down">
            </div>
            <div>
                <div class="Pay-Information">
                    <span class="Information">Total (6 Items)</span>
                    <span class="Total">Q.1,390.00</span>
                </div>
                <div class="Pay-Information">
                    <span class="Information">Shipping Fee</span>
                    <span class="Total">Q.  0.00</span>
                </div>
                <div class="Pay-Information">
                    <span class="Information">Discount</span>
                    <span class="Total">Q.  0.00</span>
                </div>
                <div class="Pay-Information SubTotal">
                    <span class="Information">Sub Total</span>
                    <span class="Total">Q.1,390.00</span>
                </div>
            </div>
        </div>
        <div class="checkout-actions">
            <div class="Pay">Pay</div>
        </div>
    </main>
</body>
</html>