<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
</head>
<body>
    <main id="Vestido-Floral" class="Detail-Product-View">
        <section class="Product-Gallery">
            <a href="../Index.html" class="bn-back"><img src="Storage/Img/AppIcon/previous.svg" alt="Back"></a>

        </section>
    </main>
    <main id="Elegante-Negro" class="Detail-Product-View">
        <section class="Product-Gallery">
            <a href="../Index.html" class="bn-back"><img src="Storage/Img/AppIcon/previous.svg" alt="Back"></a>
            
        </section>
    </main>
</body>
</html>